.header {
  padding-top: 68px;
}

.header-nav {
  li {
    padding: 0 25px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  a {
    color: #000;
  }
}