.header {
  padding-top: 68px;
  position: fixed;
  z-index: 30;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: background-color .5s ease,-webkit-transform .3s ease,-webkit-box-shadow .5s ease;
  transition: background-color .5s ease,transform .3s ease,box-shadow .5s ease;
  transition: background-color .5s ease,transform .3s ease,box-shadow .5s ease,-webkit-transform .3s ease,-webkit-box-shadow .5s ease;
  &__fixed {

  }
  &.hidden {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
  }
}

.header-nav {
  li {
    padding: 0 25px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  a {
    color: #000;
  }
}