.about {
  padding-bottom: 120px;
  &__sub-heading {
    padding-top:    18px;
    padding-bottom: 62px;
  }
  &__percent {
    display:    block;
    max-width:  100%;
    width:      450px;
    margin-top: 12px;
  }
  &__img {
    max-width:    100%;
    width:        400px;
    padding-left: 40px;
  }
}

@media (max-width: 1200px) {
  .about {
    &__percent {
      width: 300px;
    }
  }
}

@media (max-width: 768px) {
  .about {
    padding-bottom: 50px;
    &__img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      padding-left: 0;
    }
  }
}