.create-digital-net {
  background-color: #000;
  padding-top: 110px;
  padding-bottom: 110px;
  margin-bottom: 12px;
  h2 {
    font-size: 38px;
  }
  p {
    padding-top: 33px;
    padding-bottom: 46px;
  }
  span {
    font-size: 30px;
    font-weight: 900;
  }
}

@media (max-width: 1200px) {
  .create-digital-net {
    padding-top: 40px;
    padding-bottom: 40px;
    span {
      font-size: 18px;
    }
    p {
      font-size: 16px;
      padding-top: 23px;
      padding-bottom: 36px;
    }
    h2 {
      font-size: 22px;
    }
  }
}

@media (max-width: 768px) {
  .create-digital-net {
    p {
      padding-top: 15px;
      padding-bottom: 25px;
    }
    span {
      display: block;
      margin-bottom: 5px;
    }
  }
}