.create-digital-net {
  background-color: #000;
  padding: 110px 120px;
  margin-bottom: 12px;
  h2 {
    font-size: 38px;
  }
  p {
    padding-top: 33px;
    padding-bottom: 46px;
  }
  span {
    font-size: 30px;
    font-weight: 900;
  }
}