.find-yourself {
  background-color: #fafafa;
  padding: 110px 0;
  &__title {
    margin-bottom: 68px;
  }
  &__sub-title {
    display: block;
    font-size: 28px;
    font-weight: 900;
    margin-left: 70px;
    margin-top: 60px;
  }
  &__banner {
    background-image: url('../img/created-dig-bg.jpg');
    background-size: cover;
    padding: 72px 120px;
    margin-top: 80px;
    color: #fff;
    h3 {
      font-size: 36px;
      margin-bottom: 25px;
    }
  }
  &__tablet-block {
    text-align: center;
    padding-top: 44px;
    img {
      display: inline-block;
      width: 240px;
    }
  }
}

.change-life {

}