.office-msk {
  background-image: url('../img/created-dig-bg.jpg');
  background-size:  cover;
  padding-top:      72px;
  padding-bottom:   72px;
  &__title {
    font-size:   36px;
    font-weight: 900;
  }
  &__desc {
    font-size: 18px;
  }
  span {
    display: block;
  }
  &__button {
    display:          inline-block;
    margin-top: 28px;
    padding:          23px 32px;
    background-color: #000;
    border: 1px solid #000;
    color:            #fff;
    transition: .3s;
    &:hover {
      background-color: #FFF;
      color:            #000;
    }
  }
}

@media (max-width: 1200px) {
  .office-msk {
    padding-top: 42px;
    padding-bottom: 42px;
    &__title {
      font-size: 20px;
    }
    &__desc {
      font-size: 18px
    }
    &__button {
      margin-top: 0;
    }
  }
}

@media (max-width: 768px) {
  .office-msk {
    &__desc {
      margin-bottom: 20px;
    }
  }
}