.slider-we-do {
  overflow: visible !important;
  margin-left: 50px;
}
.swiper-slide {
  &__link {
    position: relative;
    padding-left: 20px;
    margin-top: 10px;
    transition: .3s;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 15px;
      background-image: url('../img/icon-link.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size:         contain;
    }
    &:hover {
      filter: invert(0.4);
    }
  }
  &__in {
    height: 280px;
    background-color: #eeeeee;
    padding-top: 50px;
    padding-left: 30px;
    transition: .3s;
    a {
      position: relative;
      display: inline-block;
      color: #000;
      font-size: 16px;
      font-weight: bold;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  &__title {
    font-size: 34px;
    font-weight: 900;
  }
  &__sub-title {
    display: block;
    font-size: 14px;
    padding-top: 6px;
  }
  &__budget-title {
    display: block;
    font-size: 12px;
    font-weight: 900;
    padding-top: 15px;
  }
  &__price {
    & > *:first-child {
      font-size: 35px;
      font-weight: 900;
    }
    & > *:last-child {
      font-size: 22px;
      font-weight: 900;
    }
  }
}
.slider-btn-block {
  margin-top: 150px;
  margin-bottom: 226px;
  &__more, &__callback {
    padding:          30px 40px;
    font-size:        28px;
    font-weight:      900;
    color: #FFF;
  }
  &__more {
    background-color: #141a9f;
    margin-right: 28px;
    transition: .5s;
    &:hover {
      color: #141a9f;
      background-color: #fff;
      outline: 1px solid #141a9f;
    }
  }
  &__callback {
    background-color: #272727;
  }
}

@media (max-width: 1460px) {
  .slider-btn-block {
    margin-top: 100px;
    margin-bottom: 150px;
  }
  .swiper-slide {
    &__title {
      font-size: 25px;
    }
  }
}

@media (max-width: 768px) {
  .slider-btn-block {
    &__more {
      display: block;
      text-align: center;
      font-size: 18px;
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
    button {
      width: 100%;
    }
  }
}