.what-we-do {
  width: 100%;
  overflow: hidden;
  padding-top: 80px;
  &__first-heading {
    position: relative;
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    &:after {
      content: 'будете делать Вы!';
      position: absolute;
      top: 0;
      left: 102%;
      color: rgba(0,0,0,0.1);
      width: 100%;
    }
  }
  &__second-heading {
    position: relative;
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 89px;
    &:after {
      content: 'Что мы делаем и что';
      position: absolute;
      top: 0;
      right: 103%;
      color: rgba(0,0,0,0.1);
      width: 120%;
      display: block;
      text-align: right;
    }
  }
}

@media (max-width: 1460px) {
  .what-we-do {
    &__first-heading, &__second-heading {
      font-size: 70px;
    }

  }
}
