.work-with-us {
  padding-top:    140px;
  padding-bottom: 120px;
  h2 {
    font-size:               100px;
    font-weight:             900;
  }
  p {
    font-size:   34px;
    font-weight: 900;
  }
}

#hide-15 {
  margin-top: 63px;
}

.work-with-after {
  position: relative;
  //background-image: url('../img/air.jpg');
  background-repeat: no-repeat;
  background-size:   auto 600px;
  background-position: right center;
  width: 100vw;
  margin-bottom: 80px;
  &__li {
    display:       flex;
    flex-wrap:     wrap;
    margin-bottom: 63px;
    &:last-child {
      margin-bottom: 0;
    }
    & > div:first-child {
      font-size:   22px;
      font-weight: 900;
      width:       73px;
      flex:        0 0 73px;
    }
    & > div:last-child {
      width: calc(100% - 73px);
      flex:  0 0 calc(100% - 73px);
      & > *:first-child {
        display: block;
        font-size: 22px;
        font-weight: 900;
        padding-bottom: 18px;
      }
    }
  }
  &__last {
    & > div {
      padding-left: 40px;
    }
  }
}

.airbus {
  position: absolute;
  right: 0;
  top: 10%;
  transform: translateX(50%);
  border: 1px solid #f470d0;
  border-radius:         50%;
  &__parent-block {
    position: relative;
    height: 575px;
    width: 575px;
  }
  &__cycle {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    width: 100%;
    height: 100%;
    transform: rotate(400deg);
    animation: rotateNew 18s linear infinite;
    img {
      position: absolute;
      left: 50%;
      top: -24px;
      bottom: 50%;
      -ms-transform-origin: 0 100%;
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
      padding-bottom: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 1200px) {
  .work-with-us {
    padding-top: 80px;
    padding-bottom: 70px;
    h2 {
      font-size: 80px;
    }
  }
  .airbus {
    display: none;
  }
}

@media (max-width: 768px) {
  .work-with-after {
    margin-bottom: 20px;
    &__last > div {
      padding-left: 0;
    }
    &__li {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 30px;
      }
    }
  }
  .work-with-us {
    h2 {
      font-size: 40px;
    }
  }
}